input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: .4px solid #000;
    background-color: transparent;
}

input:focus{
    outline: none;
}


.grade-input {
    width: 200px; 
}

.percentage-input {
    width: 50px; 
}

.total{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
}

/* Estilos para los botones*/

.add-button{
    margin: 8px;
    border: none;
    border-radius: 5px;
    background-color: #48e;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}


.delete-button{
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f00;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.submit-button{
    padding: 12px 30px;
    border: none;
    border-radius: 5px; 
    background-color: #48e;
    color: white;
    cursor: pointer;
}



.submit-button:hover{
    transition: .7s;
    background-color: #024;
}

p {
    margin-top: 20px;
    color: #f00;
}

/* Estilos para el promedio */
h3 {
    margin-top: 20px;
}

.average-low {
    color: #f00; 
}

.average-medium {
    color: #ffa500; 
}

.average-high {
    color: #0f8c0f; 
}
